*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive, sans-serif;
}
body{
    background-color: #f7eef6;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.container{
    text-align: center;
    gap: 30px;
}
.container h1{
    font-size: 3rem;
    margin-bottom: 15px;
}
.container p{
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.container img{
    mix-blend-mode: multiply;
    width: 100%;
    max-width: 40%;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.container button{
    border-radius: 5px;
    border: 1px solid #c6cf8c; 
    padding: 10px 50px;
    background-color: #eae44e;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}
.container button:hover{
    cursor: pointer;
    background-color:#eefc98;
    transform: scale(1.1);
}
@media screen and (max-width: 600px){
    .container h1{
    font-size: 2rem;
    margin-bottom: 12px;
   }
    .container button{
    padding: 8px 50px;
    font-size: 1.1rem;
   }
 
}