:root{
    --box-color : #212020;
    --main-color : #f0c20c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
    color:#dfdfd8;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #f7eef6;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    height: auto;
    max-height: 90vh;
    background-color: #000;
    text-align: center;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
    align-items: center;
    position: relative;     /*set relative for child*/
}
#toggle{
    position: absolute;   /*follow parent relative*/
    top: 0;
    right: 0;
}
.greet {
    background-color: var(--box-color);
}
#input-task{
    padding: 0 20px;
    background-color: var(--box-color);
 
}
.add-tasks{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    gap: 7px;
}
.add-tasks input{ 
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1rem;
}
.add-tasks input:hover{
    border: 1px solid #b3acac;
}
.add-tasks button{
   width: 45px;
   height: 40px;
   border: 1px solid #333333;
   outline: none;
   border-radius: 40%;
   background-color: var(--box-color);
}
.add-tasks button:hover{
    background-color: var(--main-color);
    cursor:pointer;
    transform: scale(1.1);
}
.status{
    background-color: var(--box-color);
}
.status span{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
#percentage{
    color: var(--main-color);
    font-weight: 800;
}
.greet, .status{
    width: 100%;
    height: auto;
    text-align: start;
    margin: 0 30px;
    padding: 10px 20px;
    border-radius: 8px;
}
.status .status-bar{
    width: 100%;
    height: 12px;
    text-align: center;
    background-color: #3b3b39;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.inner{
    height: 100%;
    background-color: #d2c17b;
    border-radius: 10px;
}
.progress {
   align-self: flex-start;
   margin-left: 0;
   margin-bottom: 0;
   margin-top: 7px; 
}
.items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 7px;
}
.items button{
    width: 45px;
    height: 32px;
    border: 1px solid #414040;
    outline: none;
    border-radius: 30px;
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--main-color);
    background-color:  #383838; 
}
.items button:hover{
    transform: scale(1.1);
}
#tasks-list li{
    list-style: none;
}
#tasks-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #397d9a #adb9be;   /*trumb  track*/
}
.renderList{
   width: inherit;
   height: auto;
   padding: 10px 20px;
   background-color: var(--box-color);
   border-radius: 8px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.checkbox {
  appearance: none;
  width: 17px;
  height: 17px;
  border: none;
  outline: none;
  background-color: #424141;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;        /* equal to font size so checked character is in vertically middle*/
}
.checkbox:checked {
  background-color:#292828; 
}
.checkbox:checked::after {
  content: "";
  background-image: url('images/check1.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}

.checkbox:hover{
  transform: scale(1.1);
}
.renderList span{
   display: inline-flex;
   align-items: center;
   gap: 9px;
}
.edit-btn, .delete-btn{
   width: 22px;
   height: 22px;
   font-size: 0.7rem;
   background: none;
   border-radius: 50%;
   border: none;
   outline: none;
   cursor: pointer;
   background-color: #c5aa3d;
}
.renderList button:hover{
    transform: scale(1.1);
    background-color: #f0c58d;
}
.hidden {
    display: none !important;    /*force hidden before toggle to render tasks*/
}


@media screen and (max-width: 600px){
    *{
    font-size: 1rem;
   }
   .container{
    max-width: 80%;
   }
   .add-tasks input{ 
    height: 30px;
    font-size: 0.8rem;
   }
   .add-tasks button{
   width: 40px;
   height: 30px;
   }
   .status .status-bar{
    height: 8px;
   }
   .status p{
    font-size: 0.9rem;
   }
   .items button{
    width: 35px;
    height: 30px;
    font-size: 0.7rem;
   }
   .renderList p{
    font-size: 0.8rem;
   }
   .edit-btn, .delete-btn{
    width: 22px;
    height: 22px;
   }
   .edit-btn i, .delete-btn i{    /*i = icon(reduce icon size) unable to reduce by font size*/
     font-size: 0.6rem;
   }
   #tasks-list{
   scrollbar-width: none;
  }
}